
.root {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#border {
  width: 25px;
  height: 25px;
  padding: 1em;
  
}
.row{
  color: blue;
  width: 25vw;
  height: 25vw;
  border: 1px solid #ddd;
}
